@mixin btn-base {
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: $ePopup;
	padding: 1.2rem 3.2rem;
	border-radius: 2.4rem;
	margin: auto;
}

@mixin btn-primary($bg, $color) {
	@include btn-base();
	background-color: $bg;
	color: $color;
	a {
		color: $color;
	}
	svg,
	img {
		fill: $color;
		margin-right: 1rem;
	}
	&:hover {
		@if ($bg == $cPrimary) {
			background-color: $cPrimary_hover;
			color: $cWhite;
		}
	}
	&:focus {
		@if ($bg == $cPrimary) {
			background-color: $cPrimary_focus;
			color: $color;
			outline: 0.35rem solid rgba($cPrimary, 0.25);
		}
	}
}

@mixin btn-secondary($border, $color) {
	@include btn-base();
	background-color: transparent;
	border: 0.2rem solid $border;
	color: $color;
	a {
		color: $color;
	}
	svg,
	img {
		fill: $color;
		margin-right: 1rem;
	}
	&:hover {
		@if ($border == $cPrimary) {
			background-color: rgba($cPrimary, 0.05);
			color: $color;
		}
	}
	&:focus {
		@if ($border == $cPrimary) {
			background-color: rgba($cPrimary, 0.005);
			outline: 0.35rem solid rgba($cPrimary, 0.25);
		}
	}
}

@mixin btn-third($color) {
	@include btn-base();
	position: relative;
	background-color: transparent;
	color: $color;
	border-radius: unset;
	box-shadow: unset;
	svg,
	img {
		fill: $color;
		margin-right: 1rem;
		margin-left: -2rem;
	}
	&::after {
		content: '';
		position: absolute;
		left: 50%;
		bottom: 1rem;
		width: 0;
		height: 1px;
		background-color: $color;
		transition: all 0.5s;
	}
	&:hover {
		@if ($color == $cPrimary) {
			color: $cPrimary_hover;
		}
		&::after {
			left: calc(50% - 1.5rem);
			width: 3rem;
		}
	}
	&:focus {
		@if ($color == $cPrimary) {
			color: $cPrimary_focus;
		}
		&::after {
			left: 0;
			right: 0;
			width: 100%;
		}
	}
}

.btn-primary {
	@include btn-primary($cPrimary, $cWhite);
}

.btn-secondary {
	@include btn-secondary($cPrimary, $cBackgroun03);
	@include darkmode() {
		@include btn-secondary($cPrimary, $cWhite);
	}
}
.btn-third {
	@include btn-third($cPrimary);
	@include darkmode() {
		@include btn-third($cWhite);
	}
}
