@import '../vars/colors';

@mixin bg-gradiente-cover($position_one, $position_two) {
	z-index: -1;
	content: '';
	position: absolute;
	@if $position_one == 'top' {
		top: -20rem;
	}
	@if $position_one == 'bottom' {
		bottom: -20rem;
	}
	@if $position_two == 'left' {
		left: -10rem;
	}
	@if $position_two == 'right' {
		right: -10rem;
	}
	display: block;
	width: 48rem;
	height: 48rem;
	background: $gR01;
	border-radius: 100%;
	mix-blend-mode: hard-light;
	opacity: 0.5;
	filter: blur(150px);
	@include darkmode() {
		mix-blend-mode: overlay;
		opacity: 0.85;
	}
}

.home-page {
	padding: 4rem 0;
}
.cover {
	margin: 4rem 0;
	display: grid;
	grid-gap: 2rem;
	@include tablet() {
		grid-template-columns: 1fr 24rem;
		grid-gap: 4rem;
		align-items: center;
	}
	@include laptop() {
		grid-template-columns: 1fr 36rem;
	}
	@include desktop() {
		grid-template-columns: 1fr 56rem;
	}
	&__image {
		position: relative;
		@include laptop() {
			grid-column: 2 / 3;
			grid-row: 1 / 2;
		}
		&::after {
			@include bg-gradiente-cover(bottom, right);
		}
		img,
		button {
			margin: auto;
			position: relative;
			z-index: 1;
		}
	}
	&__txt {
		position: relative;
		display: grid;
		grid-gap: 2rem;
		text-align: center;
		@include tablet() {
			grid-column: 1 / 2;
			grid-row: 1 / 2;
			text-align: left;
		}
		&::after {
			@include bg-gradiente-cover(top, left);
		}
		&__title {
			@include H4-SemiBold32;
			margin: 0;
			@include tablet() {
				@include H3-SemiBold36;
				margin: 0;
			}
			@include laptop() {
				@include H0-SemiBold60;
				margin: 0;
			}
		}
		&__calltoactions {
			display: grid;
			grid-gap: 2rem;
			justify-content: center;
			@include tablet() {
				justify-content: start;
			}
			.btn-primary,
			.btn-secondary {
				margin: auto;
				@include tablet() {
					margin: 0;
					@include darkmode() {
						margin: 0;
					}
				}
			}
			.btn-secondary {
				.wp-image-200 {
					display: block;
					@include darkmode() {
						display: none;
					}
				}
				.wp-image-206 {
					display: none;
					@include darkmode() {
						display: block;
					}
				}
			}
		}
	}
}
